.title {
    margin-top: 20vh;
    text-align: center;
    font-size: xxx-large;
    font-weight: lighter;
}

.intro1 {
    text-align: center;
    font-size: x-large;
}
.intro2 {
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}