.input {
    display: inline-block !important;
    width: calc(100% - (2.5rem + 2px)) !important;
}

.button {
    display: inline-block !important;
    height: calc(3.5rem + 2px) !important;
    width: calc(2.5rem + 2px) !important;
    vertical-align: top !important;
}